@import "tailwindcss";

@layer components {
  .tab-btn {
    transition: all 0.2s ease-in-out;
  }
}

/* Custom inputs */
input[list]::-webkit-calendar-picker-indicator { opacity: 0; }
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.6;
    cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}
